@import ".config/rofi/themes/gruvbox-dark-hard.rasi"
//@import "/usr/share/rofi/themes/rounded-nord-dark.rasi"
configuration {

  // Navigation ligne par ligne
  kb-row-up:   "alt+k,Up";
  kb-row-down: "alt+j,Down";

}
